<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
</head>
<body>
  <button>Seccion 1 </button>
  <button>Seccion 2 </button>
  <button>Seccion 3 </button>
  <div>
    <h3> Seccion 1</h3>
    <p> Contenido de la seccion 1 </p>
  </div>
  <div>
    <h3> Seccion 2 </h3>
    <p> Contenido de la seccion 2 </p>
  </div>
  <div> 
    <h3> Seccion 3</h3>
    <p> Co ntenido de la seccion 3</p>
  </div>
</body>
</html>
